@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background-image: url(/public/images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 90% -25%;
}
.hamburger {
  width: 3em;
  cursor: pointer;
  display: blocK;
  position: relative;
  top: -10;
  left: 25;
}

.burger-1 {
  width: 50%;
  margin-top: 4px;
  height: 4px;
  background: hsl(228, 39%, 23%);
  display: block;
  transition: all 0.3s;
  position: relative;
}
.burger-2 {
  width: 50%;
  margin-top: 4px;
  height: 4px;
  background: hsl(228, 39%, 23%);
  display: block;
  transition: all 0.3s;
  position: relative;
}
.burger-3 {
  width: 50%;
  margin-top: 4px;
  height: 4px;
  background: hsl(228, 39%, 23%);
  display: block;
  transition: all 0.3s;
  position: relative;
}
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border: 2px solid hsl(12, 88%, 69%);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: hsl(12, 88%, 69%);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
